.breed-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(233, 200, 223);
    height: 100%;
    padding-top: 50px;
  }
  
  .breed-detail-container img {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }