<div class="search-container">
  <mat-form-field >
    <mat-label>Buscar raza</mat-label>
    <input matInput [(ngModel)]="searchQuery" (ngModelChange)="onSearch()">
  </mat-form-field>

  <div class="results-container">
    <mat-card *ngFor="let breed of filteredBreeds">
      <mat-card-header>
        <mat-card-title>{{ breed.breed }}</mat-card-title>
        <mat-card-subtitle *ngIf="breed.subBreeds.length > 0">
          Subrazas: {{ breed.subBreeds.join(', ') }}
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="breed.image" alt="{{ breed.breed }}" class="breed-image">
    </mat-card>
  </div>
</div>
  