  .search-container {
    text-align: center;
    background-color: rgb(233, 200, 223);
  }
  .searcher {
    mat-label {
      color:#7b1fa2;
    }
  }
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: rgb(233, 200, 223);
  }
  mat-form-field {
    
    width: 300px;
    margin-bottom: 20px;
  }
  
  .results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  mat-card {
    width: 300px;
    height: 400px;
    margin: 10px;
    background-color: #e7bdd8;
    color: white;

    .breed-image {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      height: 340px;
      overflow: hidden;
    }
  }
  mat-card-header {
    display: unset;
    height: 50px;
  }
  mat-card-title {
    font-family: monospace;
  }

  
  
  