.content {
  background-color: rgb(233, 200, 223);
  height: 100%;
}

.welcome-container {
    text-align: center;
    padding-top: 50px;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #4CAF50;
  }
  
  p {
    color: #555;
    font-size: 20px;
  }